@charset "UTF-8";

/*********************************************
 * DOM TREE
 *********************************************/

@-webkit-keyframes spin {
	0% { -webkit-transform: rotateY( 0deg ); }
	100% { -webkit-transform: rotateY( 360deg ); }
}

@-moz-keyframes spin {
	0% { -moz-transform: rotateY( 0deg ); }
	100% { -moz-transform: rotateY( 360deg ); }
}

@-ms-keyframes spin {
	0% { -ms-transform: rotateY( 0deg ); }
	100% { -ms-transform: rotateY( 360deg ); }
}

@-o-keyframes spin {
	0% { -o-transform: rotateY( 0deg ); }
	100% { -o-transform: rotateY( 360deg ); }
}

@keyframes spin {
	0% { transform: rotateY( 0deg ); }
	100% { transform: rotateY( 360deg ); }
}

body {
	-webkit-perspective: 3000px;
	   -moz-perspective: 3000px;
	    -ms-perspective: 3000px;
	     -o-perspective: 3000px;
	        perspective: 3000px;

	-webkit-perspective-origin: 0 20%;
	   -moz-perspective-origin: 0 20%;
	    -ms-perspective-origin: 0 20%;
	     -o-perspective-origin: 0 20%;
	        perspective-origin: 0 20%;
}

.kintone-app-header-space {
	margin: 0 auto;
	position: relative;

	-webkit-animation: spin 18s infinite linear;
	   -moz-animation: spin 18s infinite linear;
	    -ms-animation: spin 18s infinite linear;
	     -o-animation: spin 18s infinite linear;
	        animation: spin 18s infinite linear;

	-webkit-transform-origin: 50% 0;
	   -moz-transform-origin: 50% 0;
	    -ms-transform-origin: 50% 0;
	     -o-transform-origin: 50% 0;
	        transform-origin: 50% 0;

	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	    -ms-transform-style: preserve-3d;
	     -o-transform-style: preserve-3d;
	        transform-style: preserve-3d;
}

.kintone-app-header-space * {
	position: absolute;

	-webkit-transform-origin: 0 0;
	   -moz-transform-origin: 0 0;
	    -ms-transform-origin: 0 0;
	     -o-transform-origin: 0 0;
	        transform-origin: 0 0;
}

/*********************************************
 * ADDITIONAL KINTONE STYLE
 *********************************************/
.app-index-container-gaia {
    background: #2c649d;
}

.gaia-argoui-app-index-pager {
    background: #2c649d;
}

.component-app-listtable-countitem>span{
	color:white;
}
